---
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BasedOnStyle: LLVM
BreakAfterAttributes: Always
IncludeBlocks: Regroup
IndentWidth: 4
ColumnLimit: 100
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: Yes
# ReferenceAlignment: Left
# IndentExternBlock NoIndent
# NamespaceIndentation: All

...
